/* Basic styles */

body {
  text-align: justify;
}

h1 {
  margin-bottom: 20px;
}

h1.title {
  margin-bottom: 50px;
}

.container {
  max-width: 800px;
  padding-right: 10px;
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

a.active {
  color: #1eaedb;
}

.hidden {
  display: none;
}

.success,
.error {
  display: block;
  padding: 5px 15px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 4px;
}

.success {
  border: 1px solid darkgreen;
  color: darkgreen;
  background-color: lightgreen;
}

.error {
  border: 1px solid darkred;
  color: darkred;
  background-color: palevioletred;
}

input.input-error {
  border: 1px solid palevioletred !important;
  background-color: #ffdcda;
}

/* Navbar */
header {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.navbar {
  display: block;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 50px;
  color: #222;
}

.form-wrapper {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.61);
}

#AddEmailForm {
  margin-bottom: 0;
}

#form-spinner {
  position: relative;
  margin: auto;
}

/* Spinner */

.spinner-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 100px;
  margin-left: -50px;
}

.spinner {
  z-index: 9999;
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
